<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Final Application</title>
    </head>
    <body>
       
        <!--Header-->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/"class="nav-brand-text-dark">Employee Management System</a>
                    </div>
                </div>
            </nav>
        </header>